body {
  font-family: 'Playfair Display', serif;
}

.text-grey-l {
  color: #343434;
}

.text-copper {
  color: #B9884F;
}

.bg-copper {
  background-color: #B9884F;
}

.border-copper {
  border-color: #B9884F;
}

.bg-grey {
  background-color: #1A1A1A;
}