body {
  font-family: 'Playfair Display', serif;
}

.text-grey-l {
  color: #343434;
}

.text-grey {
  color: #838383;
}

.text-copper {
  color: #B9884F;
}

.bg-copper {
  background-color: #B9884F;
}

.border-copper {
  border-color: #B9884F;
}

.bg-grey {
  background-color: #1A1A1A;
}

.bg-black-grad {
  background:  linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.bg-footer{
  background: linear-gradient(180deg, rgba(185, 136, 79, 0.13) 0%, rgba(185, 136, 79, 0) 100%), black;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}